ç# Jupyter Notebook
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE files
.idea/

# ml runs
*/mlruns/

# results csv
AprendizajeProfundo/petfinder_dataset/results.csv

